<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BeSafe">
        <activity
            android:name=".SrodkiPopUp"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".RozmowaPopUp"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DodInfo"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".KrBez2"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".KrBezApteczki3"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".KrApteczka3"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".KrApteczka2"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".KrNos3"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".KrNos2"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".KrBezApteczki"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".KrApteczka"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".KrNosApteczka"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".KrNosBezApteczki"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".KrNieZNosa"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".KrZNosa"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".KrBezpiecznie"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".KrNiebezpiecznie"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".KrCzyBezpiecznie"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UdzielPomocy"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Wezwanie"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LogowanieActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RejestracjaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

</manifest>